.highlight { background-color: #1B1B1B; }
.topbaritem { background-color: #1B1B1B; }
.topbar { background-color: #1B1B1B; }
body { background-color: #1B1B1B; }
.theheadings { background-color: #1B1B1B; }
p { color: #bbbbbb; }
body { color: #bbbbbb; }
ul { color: #bbbbbb; }
li { color: #bbbbbb; }
table { color: #bbbbbb; }
h5 { color: #bbbbbb; }
h6 { color: #bbbbbb; }
.theheadings { color: #bbbbbb; }
a { color: #ffffff; }
.topbaritem:hover { background-color: #26292A; }
.header { background-color: #26292A; }
.botbar { background-color: #26292A; }
.theheadings { color: #cccccc; }
#nextart:hover { color: #000; }
#prevart:hover { color: #000; }
a:hover { color: #000; }
#nextart:hover { background-color: #ffffff; }
#prevart:hover { background-color: #ffffff; }
a:hover { background-color: #ffffff; }
.thetitle { color: #ffffff; }
.thetitle { background-color: #26292A; }
blockquote { border-left: 3px solid #770000; }
.literalblock > .content { background-color: #26292A; }
.sitemap { th,tr:hover { background-color: #26292A; } }
.topbariten { background-color: #26292A; }
.literalblock > .content { border: 0.5em solid #770000; }
.tableofcontents { border: 2px solid #770000; }
.scrollable { border: 2px solid #770000; }
header { border-top: 0.8em solid #26292A;  border-bottom: 1em solid #26292A; }
h1 { color: #ffffff; }
h2 { color: #ffffff; }
h3 { color: #ffffff; }
h4 { color: #ffffff; }
h5 { color: #ffffff; }
.highlight { background-color: #282A36; }
p { code { border: 1.0em solid #770000; } }
p { code { background-color: #26292A; } }
