[submodule "hos/themes/allgray"]
	path = hos/themes/allgray
	url = https://github.com/hossein-lap/allgray
	branch = master
[submodule "hos/themes/PaperMod"]
	path = hos/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hos/hossein-lap.github.io"]
	path = hos/hossein-lap.github.io
	url = https://github.com/hossein-lap/hossein-lap.github.io
[submodule "content"]
	path = content
	url = git@github.com:hossein-lap/blog.posts
	branch = master
