[submodule "hos/themes/allgray"]
	path = hos/themes/allgray
	url = https://github.com/hossein-lap/allgray
[submodule "hos/public/hossein-lap.github.io"]
	path = hos/public/hossein-lap.github.io
	url = https://github.com/hossein-lap/hossein-lap.github.io
	branch = main
