[submodule "themes/allgray"]
	path = themes/allgray
	url = git@github.com:hossein-lap/allgray
	branch = master
[submodule "themes/hugo-ficurinia"]
	path = themes/hugo-ficurinia
	url = git@github.com:hossein-lap/hugo-ficurinia
	branch = master
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:hossein-lap/hossein-lap.github.io
[submodule "content"]
	path = content
	url = git@github.com:hossein-lap/blog.posts
	branch = master
