@font-face {
    font-family: "Libertinus Sans";
    src: url("./LibertinusSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: "Libertinus Sans";
    src: url("./LibertinusSans-Bold.otf") format("opentype");
    font-weight: bold;
    font-style:  normal;
}

@font-face {
    font-family: "Libertinus Sans";
    src: url("./LibertinusSans-Italic.otf") format("opentype");
    font-weight: normal;
    font-style:  italic;
}

@font-face {
    font-family: "Libertinus Sans";
    src: url("./LibertinusSans-Bold.otf") format("opentype");
    font-weight: bold;
    font-style:  italic;
}
