@font-face {
    font-family: "FreeSerif";
    src: url("./FreeSerif.ttf") format("truetype");
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: "FreeSerif";
    src: url("./FreeSerifBold.ttf") format("truetype");
    font-weight: bold;
    font-style:  normal;
}

@font-face {
    font-family: "FreeSerif";
    src: url("./FreeSerifItalic.ttf") format("truetype");
    font-weight: normal;
    font-style:  italic;
}

@font-face {
    font-family: "FreeSerif";
    src: url("./FreeSerifBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style:  italic;
}
